# Archivos temporales de compilación del IDE de Arduino
applet/
*.elf
*.hex
*.o
*.d

# Archivos de caché y configuración local
.build/
build/
*~
.DS_Store

# Si usas el nuevo Arduino IDE 2.x o VS Code
.vscode/
.theia/
